
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}
.bg{
  background-image: url("images/home.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.Auth-form {
  width: 500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 28%;
  border-radius: 8px;
  background-color: #060C14;
  color: white;
}

.Post-form {
  width: 800px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 20%;
  border-radius: 8px;
  background-color: #060C14;
  color: white;
}

.Auth-form-content {
  padding-left: 10%;
  padding-right: 10%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: white;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.heading{
  margin: 1% 2% !important;
  align-items: center;
}